body{
    background-color: white;
}


header nav ul .abt a{
    color: blue;
}
section nav div div ul li a:hover{
    color: rgb(254, 105, 0) !important;
}


header nav span{
    float: right;
    margin-top: 0.7em;
    margin-right: 10em;
    color: black;
}

.booking a{
    border: 1px solid rgb(33, 33, 33);
    padding: 8px 10px;
    text-decoration: none;
    background-color: rgba(33, 33, 33, 0.9);
    color: white;
    margin-top: -4em;
   font-size: 18px  !important;
}

.booking a:hover{
    background-color: rgb(244, 246, 243);
    color: rgb(33, 33, 33);
    border: 2px solid rgb(33, 33, 33);
}



@media all and (max-width: 600px){
    .booking{
        margin-left: 0;
        margin-top: 0;
    }

    section nav div div ul li a:hover{
        color: blue !important;
    }

    section nav div div ul li .abot{
        background-color: gray;
    }

  
    
}



main {
    background-image: url(" https://www.thelist.com/img/gallery/hair-colors-youll-be-asking-for-in-2023/l-intro-1667389307.jpg");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    margin-top: 1em !important;
    margin-left: 1em;
    margin-right: 1em;
}


main  h1{
    color: rgb(33, 33, 33);
    margin-left: 2em;
    margin-top: 3em;
    font-size: 45px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

main p{
    margin-left: 5em;
    color: white;
    font-weight: bolder;
    margin-bottom: 3em;
    margin-top: 1em;
}

main > span{
    margin-left: em;
    color: white;
    font-weight: bolder;
    background-color: rgb(240, 150, 159);
    padding: 10px;
}


main span a{
    text-decoration: none;
    color: white;
}

main span:hover{
    background-color: rgb(102, 170, 189);
    border: 2px solid white;
}

@media all and (max-width: 600px) {
    main{
        background-size: contain;
        width: 100%;
        margin-left: 0.3em;
        margin-right: 0;
    }

    .page{
        width: 95%;
        margin-right: 0;
    }
    
    main p{
        color: rgb(33, 33, 33);
        margin-top: 0.5em;
        margin-left: 2.5em;
        font-size: 14px;
    }

    main span{
        width: 70%;
        margin-left: 2em;
        margin-top: -1em;
    }

    main h1{
        margin-top: 2em;
        margin-left: 1em;
        font-size: 40px;
    }
}

.middle{
    background-color: rgb(223, 193, 118);
    color: black;
    padding: 10px 5px;
   margin-right: 40em;
    margin-left: 5em;
    margin-top: 0.5em;
    font-size: 20px;
    border: 2px dotted black;
}

.middle  span {
    background-color: white;
    color: black;
    padding: 5px;
    margin-left: 0;
}

@media all and (max-width: 600px){
    .middle{
        float: left;
        width: 80%;
        margin: 0;
        margin-top: -7em;
        margin-left: 2em;
        margin-right: 0;
    }

    .middle p{
        margin-left: 1em;
    }

    .middle span{
        margin-left: 1em;
    }
}


.services{
    text-align: center;
    font-size: 40px;
    margin-top: 2em;
    color: rgb(211, 164, 103);
}

section article{
    display: flex;
    flex-direction: column;
   align-items: center;
   color: rgb(33, 33, 33);
   background-color: rgb(244, 246, 243);
   margin-top: 5em;
   width: 70%;
   margin-left: 12em;
}

article i{
   
    font-size: 4em;
    color: rgb(214, 166, 103);
    margin-top: 0.5em;
}

article p{
    margin-left: -1em;
    font-size: 20px;
    margin-bottom: 1em;
    margin-top: 1em;
}

article h2{
    font-size: 25px;
    margin-top: 1em;
    font-weight: bolder;
}

.clients{
    font-size: 25px;
    color: rgb(33, 33, 33);
}

@media all and (max-width: 600px){
    .beauty{
        float: left;
        width: 90%;
        margin: 0;
        margin-top: 3em;
        margin-left: 1.7em;
        margin-right: 0;
    }

    .beauty i{
        margin-left: -0.5em;
    }

    .beauty p{
        margin: 0;
        font-size: 18px;
        margin-left: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .beauty h2{
        margin-left: 1em;
        margin-top: 1em;
    }

    #services{
        margin: 0;
        float: left;
        width: 100%;
        margin-left: -0.5em;
    }

    .bear{
        float: left;
        width: 85%;
        margin: 0;
        margin-left: 1em;
        margin-top: 1em;
    }

    .quality{
        float: left;
        width: 85%;
        margin: 0;
        margin-top: 1em;
        margin-left: 1em;
    }

    .products{
        float: left;
        width: 85%;
        margin: 0;
        margin-top: 1em;
        margin-left: 1em;
    }
}


.bob{
    float: left;
   
}

.bob img{
    float: left;
    width: 40%;
    margin: -22em 0 0 50em;
}

.bob h2,p,span{
    margin: 0 0 0 7em;
}

.bob h2{
    margin-top: 5em;
    margin-left: 4em;
    font-size: 25px;
    color: rgb(50, 31, 86);
}

.bob p{
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: 6.5em;
    font-size: 16px;
}

.more{
    background-color: rgb(162, 138, 193);
    color: white;
    padding: 10px;

}

.more:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

@media all and (max-width: 600px){
    .bob{
        float: left;
        width: 100%;
        margin: 0;
        margin-top: 3em;
        margin-right: 0;
    }

    .bob p,h2,span{
        float: left;
        width: 80%;
        margin: 0;
        margin-top: 1em;
        margin-left: 2em;
        font-size: 18px;
    }

    .bob h2{
        float: left;
        width: 80%;
        margin: 0;
        margin-left: 1.5em;
        font-size: 22px;
    }

    .bob .more{
        width: 50%;
        margin-left: 2em;
        margin-top: 1em;
    }

    .bob img{
        float: left;
        width: 85%;
        margin: 0;
        margin-top: 1em;
        margin-left: 1.3em;
    }
}

hr{
    width: 100%;
}

.sect1 , .sect2 , .sect3{
    float: left;
    width: 30%;
    margin-left: 2em;
    margin-top: 3em;
    margin-bottom: 5em;
}

.sect1 img{
    height: 270px;
    margin-left: 8em;
    width: 270px;
}

.sect2 img{
    height: 270px;
    margin-left: 5em;
    width: 270px;
}

.sect3 img{
    height: 270px;
    width: 270px;
}

.sect1 h4{
    margin-left: 10em;
    margin-bottom: -0.1em;
    font-size: 18px;
    font-weight: bolder;
}

.sect2 h4{
    margin-left: 8em;
    margin-bottom: -0.1em;
    font-size: 18px;
    font-weight: bolder;
}

.sect3 h4{
    margin-left: 3em;
    margin-bottom: -0.1em;
    font-size: 18px;
    font-weight: bolder;
}

.sect1  span{
    margin-left: 10em;
}

.sect2  span{
    margin-left: 8em;
}

.sect3  span{
    margin-left: 3em;
}

#stylist section span{
    font-size: 18px;
    background-color: rgb(163, 122, 99);
    color: white;
    padding: 3px 10px;
    
}

#stylist section h4{
    margin-bottom: 0.5em;
   
}

#stylist h2{
    font-size: 35px;
    margin: 18em 0 0 5em;
    color: rgb(163, 122, 99);
    font-weight: bolder;
}

@media all and (max-width: 600px){
    #stylist{
        float: left;
        width: 80%;
        margin: 0;
        margin-top: 2em;
        margin-left: 3em;
        margin-right: 0;
    }

    .sect1{
        float: left;
        width: 90%;
        margin: 0;
        margin-top: 2em;
    }

    .sect1 img{
        float: left;
        width: 100%;
        margin: 0;
    }

    .sect1 h4{
        float: left;
        width: 80%;
        margin: 1em 0 0 1em;
        font-size: 18px;
        font-weight: bolder;
    }

    .sect1 span{
        float: left;
        width: 70%;
        margin: 0 0 0 1em;
    }

    .sect2{
        float: left;
        width: 90%;
        margin: 0;
        margin-top: 2em;
    }

    .sect2 img{
        float: left;
        width: 100%;
        margin: 0;
    }

    .sect2 h4{
        float: left;
        width: 80%;
        margin: 1em 0 0 1em;
        font-size: 18px;
        font-weight: bolder;
    }

    .sect2 span{
        float: left;
        width: 70%;
        margin: 0 0 0 1em;
    }

    .sect3{
        float: left;
        width: 90%;
        margin: 0;
        margin-top: 2em;
    }

    .sect3 img{
        float: left;
        width: 100%;
        margin: 0;
    }

    .sect3 h4{
        float: left;
        width: 80%;
        margin: 1em 0 0 1em;
        font-size: 18px;
        font-weight: bolder;
    }

    .sect3 span{
        float: left;
        width: 70%;
        margin: 0 0 0 1em;
    }

    #stylist h2{
        font-size: 30px;
        margin: 1em 0 0 0;
        
    }
}

.halo{
    margin: 3em 8em 8em 8em;
    background-image: url(https://topratedexperts.com/uploads/final.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
   
}

.halo h3{
    margin-top: 3em;
   margin-left: 4em;
   font-size: 35px;
   color: rgb(33, 33, 33);
   margin-bottom: 1em;
}



.halo span a{
    padding: 10px 20px;
    background-color: rgba(33, 33, 33, 0.9);
    color: white;
    text-decoration: none;
    margin-left: 2em;
}

.halo span a:hover{
    background-color: rgb(244, 246, 243);
    color: rgb(33, 33, 33);
    border: 2px solid rgb(33, 33, 33);
}

@media all and (max-width: 600px){
    .halo{
        background-size: contain;
        width: 90%;
        margin: 0;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 0;
    }

    .halo h3{
        width: 90%;
        margin: 0;
        margin-top: 0.5em;
        margin-left: 1em;
        margin-bottom: 1em;
    }

    .halo span{
        margin-left: -1em;
    }
}

.container{
    width: 100%;
    height: 100%;
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 3em;
}

.items{
    height: 40%;
    margin: 10px;
}

.container .items img{
    height: 300px;
}

.mayo h4{
    text-align: center;
    font-size: 35px;
    color: rgb(33, 33, 33);
}

.container{
    background-color: rgb(247, 247, 245);
    
}

.blonde img{
    width: 340px;
    margin-left: -1em;
}

@media all and (max-width: 600px){
    .blonde img{
        margin-top: 15em;
        width: 350px;
        
    }

    .container{
        float: left;
        width: 90%;
        margin: 0;
        margin-right: 0;
    }

    .container .items img{
        width: 90%;
        margin-left: 1em;
        margin-right: 0;
    }

    .red img{
        width: 350px;
        margin-top: -3em;
    }

    .lipGloss img{
        width: 350px;
        margin-top: -3em;
    }

    .mayo h4{
        margin-bottom: 1em;
         margin-top: -2em;
    }

    .lastOnes .items img{
        width: 100%;
        margin-left: 0em;
        width: 333px;
    }
}



@media all and (max-width: 600px){
    body{
        margin: 0;
        margin-right: 0;
    }

    hr{
        width: 80%;
    }

    html{
        margin: 0;
        margin-right: 0;
    }
}


